
body {
    font-family: helvetica;
    font-size: 10pt;
    min-width: 500px;
    max-width: 700px;
}

h3 {
    font-size: 11px;
    background-color: #E9E9E9;
    padding: 5px 15px;
    margin: 0;
}

*:focus {outline: none;}

#redir-switcher {
    display: none;
}

.btn-link {
    border: 1px solid #D8D8D8;
    border-radius: 3px;
    padding: 3px 4px;
    text-decoration: none;
}

.btn-link:hover {
    text-decoration: underline;
}

.cr-title {
    text-align: center;
}

.domain {
    text-wrap: none;
    margin: 0.8em auto;
    text-align: center;
    font-size: 110%;
    font-weight: bold;
}

.switcher {
}

.onoffswitch {
    margin: auto;
    position: relative;
    width: 105px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #D4D4D4; border-radius: 20px;
}

.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 13px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "Disabled";
    padding-left: 16px;
    background-color: #F70000; color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "Enabled";
    padding-right: 16px;
    background-color: #0900FF; color: #FFFFFF;
    text-align: right;
}

.onoffswitch-switch {
    width: 16px; margin: 7px;
    background: #FFFFFF;
    border: 2px solid #D4D4D4; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 71px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    padding: 0.8em 0.5em 0.2em;
}

#redir-log {
    margin-top: 0.5em;
}

/* #log */

#log {
    padding-left: 10px;
    height: 150px;
    overflow-y: scroll;
    padding: 5px;
}

.log-item {
    list-style: none;
    padding-left: 17px;
    position: relative;
}

.log-item-text:before {
    position: absolute;
    margin-left: -15px;
    height: 12px;
    width: 10px;
    content: "";
    background-size: 9px;
    background-repeat: no-repeat;
    margin-top: 3px;
    opacity: 0.4;
    background-position-x: 1px;
}

.typed .log-item-text:before {
    background-image: url(assets/ico_typed.png);
}

.reload .log-item-text:before {
    background-image: url(assets/ico_reload.png);
}

.sub_frame .log-item-text:before {
    background-image: url(assets/ico_sub_frame.png);
}

.main_frame .log-item-text:before {
    background-image: url(assets/ico_main_frame.png);
}

.link .log-item-text:before {
    background-image: url(assets/ico_link.png);
}

.log-item-text {
    display: inline;
    float: left;
    width: 370px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: silver;
    border-bottom: 1px solid transparent;
    cursor: default;
}

.log-item-text .hostname {
    color: #767676;
    font-weight: bold;
}

.r1 .log-item-text .hostname,
.r2 .log-item-text .hostname {
    color: #f76d66;
}

.r3 .log-item-text .hostname {
    color: #fecd35;
}

.r4 .log-item-text .hostname {
    color: #84ca4a;
}
.r5 .log-item-text .hostname {
    color: #4E9B0F;
}

.log-item-text:hover {
    border-bottom: 1px dotted silver;
}


.logitem-buttons {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-top: -1px;
    margin-bottom: 3px;
}

.logitem-button {
    border: 1px solid #C0C0C0;
    border-radius: 3px;
    padding: 1px 5px;
    font-size: 10px;
    float: left;
    margin-right: 3px;
}

.log-item-full {
    clear: both;
    display: none;
    color: #6F6D6D;
    font-size: 11px;
    border: 1px dotted #C0C0C0;
    padding: 4px 6px;
    margin-bottom: 6px;
    max-width: 400px;
    overflow-wrap: break-word;
}

.wot-scard {
    text-decoration: none;
    color: #808080;
    text-transform: uppercase;
    font-size: 9px;
}

.new-tab {
    text-decoration: none;
    color: #808080;
}